
{% block header_meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% endblock header_meta %}

<!-- Site Properties -->
<title>Bolt Store {% block header_title %}{% endblock %}</title>

{% block header_stylesheets %}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ app.paths.theme }}/semantic/semantic.min.css">
{% endblock header_stylesheets %}

{% block header_scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="{{ app.paths.theme }}semantic/semantic.min.js"></script>
    <script src="{{ app.paths.theme }}js/app.js"></script>
{% endblock header_scripts %}

{% block header_extra_scripts %}
{% endblock header_extra_scripts %}

{% block header_analytics %}
    {{ include('partials/_layout_header_analytics.twig') }}
{% endblock header_analytics %}
