{% block body_menu_bottom %}
    <div class="stepup_top"></div>

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container stepup_top stepup_bot">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Extensions</h4>
                    <div class="ui inverted link list">
                        <a href="/browse?order=name&type=bolt-extension" class="item">Sort by name</a>
                        <a href="/browse?order=date&type=bolt-extension" class="item">Most recents</a>
                        <a href="/browse?order=downloads&type=bolt-extension" class="item">Most dowloaded</a>
                        <a href="/browse?order=stars&type=bolt-extension" class="item">Most starred</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Themes</h4>
                    <div class="ui inverted link list">
                        <a href="/browse?order=name&type=bolt-theme" class="item">Sort by name</a>
                        <a href="/browse?order=date&type=bolt-theme" class="item">Most recents</a>
                        <a href="/browse?order=downloads&type=bolt-theme" class="item">Most dowloaded</a>
                        <a href="/browse?order=stars&type=bolt-theme" class="item">Most starred</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Follow Us</h4>
                    <div class="ui inverted link list">
                        <a href="https://twitter.com/boltcm" class="item">Twitter</a> <a href="https://github.com/bolt"
                                                                                         class="item">Github</a>
                        <a href="http://irccloud.com/" class="item">IRC #boltcms</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Bolt.cm Extensions Store</h4>
                    <p>Sophisticated, Lightweight and Simple</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="/files/bolt_icon.png" class="ui centered mini image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="https://bolt.cm/">Bolt.cm</a> <a class="item" href="https://bolt.cm/news">News</a> <a
                        class="item"
                        href="https://docs.bolt.cm/introduction">Documentation</a> <a class="item"
                                                                                      href="https://bolt.cm/download">Download</a>
            </div>
        </div>
    </div>
{% endblock body_menu_bottom %}
