{% extends "layout.twig" %}

{% block header_title %} | Extension Collections{% endblock %}

{% block content %}
    <div class="ui divided items">
        {% for record in records %}
            <div class="item">
                <div class="content">
                    <a class="header" href="{{ record.link }}">{{ record.title }}</a>
                    <div class="description">
                        <p>{{ record.excerpt(80) }}</p>
                    </div>
                    <div class="extra">
                        <a href="{{ record.link }}" class="ui right floated primary button"> View Collection
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
