<div class="ui right floated main menu">
    <button class="ui toggle button"
            id="copy-button"
            data-content="{{ package.name }}"
            data-title="Click to copy the package name"
            data-clipboard-text="{{ package.name }}"><i class="alternate copy icon"></i> Copy to clipboard
    </button>
</div>
