<div class="ui left floated ">
    <a href="{{ url('stats', { 'package':package.id }) }}">
        <button class="ui basic button">
            View installation statistics
            <i class="right line chart icon"></i>
        </button>
    </a>
</div>
