{% if is_auth() %}
    {% set already = statistics.isStarredBy(package.id, member.guid) %}
    {% if already %}
        {% set star_text = "You have starred this package." %}
    {% else %}
        {% set star_text = "Star this package!" %}
    {% endif %}
{% else %}
    {% set star_text = "You must be logged in to star packages." %}
{% endif %}

<a class="bug popup icon item"
    {% if is_auth() and not already %}
        href="{{ url('star', { 'package': package.id }) }}"
        onclick="ga('send', 'event', {
                eventCategory: 'Package',
                eventAction: 'Star',
                eventLabel: '{{ package.title }}'
                });"
    {% endif %}
   data-content="{{ star_text }}">
    <i class="star icon"> {{ statistics.stars(package.id)|default(0) }}</i>
</a>
